body {
  background-image: url("Background.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image within the container */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  color: #2e879a;
  font-family: "Lora", serif;}
button {
    background-color: #aee8f3;
    font-family: "Lora", serif;
    padding: 10px;
    }

.center{position: absolute; left: 50%; transform: translate(-50%,0);}
.center2{position: relative; left: 85%; transform: translate(-50%,0);}
.center3{position: relative; left: 75%; transform: translate(-50%,0);}
.container{
  display: flex
grid-template-columns: auto auto auto;
  background-color: #aee8f3;
  font-family: "Lora", serif;
  padding: 10px;}
.gallery{display: inline-block; border: 10px solid #2e879a; margin: 10px; width: 350px;}
.gallery .gallerytext{padding: 10px; text-align: center;}
.gallery:hover{border: 10px solid #de1f2c;}
.gallery img{width: 100%; height: auto;}
{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color:#ffffff;
    margin-right: auto;
    transition: all 0.4s ease;
}

h1{
  border: white;}

.item:hover
{
    transform: scale(1.5);
    margin-right: 40px;
    margin-left: 30px;
}

footer{position: absolute; bottom: -100%;}